.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.form {
	max-width: 460px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form__error {
	color: red;
}

.form__input {
	width: 100%;
	padding: 5px;
}

.form__btn {
	width: 100%;
	height: 30px;
}
