.calculator {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator__content {
	flex: 0 0 360px;
	padding: 20px;
	border-radius: 16px;
	border: 1px solid var(--accent-border-color);
}

.calculator__screen {
	height: 52px;
	padding: 10px 14px 10px;
	margin-bottom: 10px;
	border-radius: 16px;
	border: 1px solid var(--accent-border-color);
}

.calculator__screen-count {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.calculator__screen-count.active {
	color: red;
}

.calculator__inner {
	display: flex;
	gap: 10px;
}

.calculator__nums {
	flex: 0 1 80%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.calculator__symbols {
	flex: 0 1 20%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.calculator__item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	font-size: 14px;
	font-weight: 700;
	color: #474747;
	cursor: pointer;
	border-radius: 100px;
	transition: background 0.3s ease;
}

.calculator__nums .calculator__item {
	flex: 1 0 calc((100% - 20px) / 3);
}
.calculator__symbols .calculator__item {
	width: 100%;
}


.calculator__nums .calculator__item {
	background: #f3f5f6;
}

.calculator__nums .calculator__item:hover {
	background: #d2d2d2;
}

.calculator__symbols .calculator__item {
	background: #e5edff;
}
.calculator__symbols .calculator__item:hover {
	background: #d3e3fd;
}
