:root {
	--color-black: #000;
	--color-white: #fff;
	--color-error: red;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1;
}

body {
	height: 100vh;
	background: var(--color-black);
}

ul,
ol {
	list-style: none;
}

input {
	width: 100%;
	padding: 5px;
	outline: none;
}

input[type="checkbox"] {
	cursor: pointer;
	width: 16px;
	height: 16px;
}

button {
	cursor: pointer;
	padding: 5px;
}

button:disabled {
	cursor: not-allowed;
}
